/node_modules
/public/hot
/public/storage
/public/images/avatars
/public/images/badges
/public/images/cover
/public/images/screenshots
/public/images/teasers
/public/downloads
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/ignorethisfolder
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env