.card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;

    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    /*background-color: #fff;*/
    color: #e4e4e4;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
}

.card-stats .card-body{
    padding: 15px 15px 0;
}

.card-stats .card-body .numbers{
    text-align: right;
    font-size: 2em;
}

.card-stats .card-body .numbers .card-category{
    color: #cacaca;
    font-size: 16px;
    line-height: 1.4em;
}
.card-stats .card-body .numbers p{
    margin-bottom: 0;
}

.card-stats .card-footer{
    padding: 0 15px 15px;
}

.card-stats .card-footer .stats{
    color: #cacaca;
}

.card-stats .icon-big{
    font-size: 3em;
    min-height: 64px;
}
.card-stats .icon-big i{
    line-height: 59px;
}

.card-footer a {
    color: #647992;
}

.card-footer a:hover {
    color: #a1adbb;
}

hr.sick {
    border-top: 1px solid #323540;
    border-bottom: 1px solid #1a1c23;
}