html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, strong, b, u, i, ol, ul, li, form, label,
table, tbody, tr, th, td, input, li a {
	margin: 0;
	padding: 0;
}

html, body {
    background-color: #292c35;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.strike-through {
    text-decoration: line-through;
}

.main-container {
    min-height: 500px;
}

.menu-container {
    position: fixed;
    height: 100%;
    left: 0;
    z-index: 5001;
}

.menu {
    padding: 1.5em 1em 1.5em 0.8em;
    margin: 0 -20px 0 0;
    float: left;
    height: 100%;
    width: 257px;
    left: 0;
    background-color: #1f2229;
    z-index: 5000;
    position: relative;
    overflow-y: scroll;
}

.menu-open {
    float: right;
    height: 100%;
    width: 36px;
    background-color: #16181d;
    border-right: 1px solid #1d1f25;
    box-shadow: 4px 0 12px #1a1d24;
    z-index: 5001;
    position: relative;
    transition: .25s width;
}

.menu-open span{
	height: 17px;
    display: block;
    width: 24px;
    position: relative;
    top: 36px;
    left: 7px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    opacity: 0.8;
    transition: top .25s, border-bottom-color .25s, width .25s, height .25s, left .25s, opacity .2s;
}

.menu-open span:hover {
    opacity: 1;
}

.menu-open span:before {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    margin-bottom: 5px;
    position: relative;
    transition: transform .25s ease-in-out, top .25s ease-in-out;
    outline: 1px solid transparent;
    transform: rotate(45deg);
    top: 9px;
}
        
.menu-open span:after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    margin-bottom: 5px;
    position: relative;
    transition: transform .25s ease-in-out, top .25s ease-in-out;
    outline: 1px solid transparent;
    transform: rotate(-45deg);
    top: 1px;
}
    
.menu-open span.click {
    top: 38px;
    border-bottom-color: #fff;
    width: 30px;
    height: 19px;
}

.menu-open span.click:before {
    transform: rotate(0deg);
    top: -2px;
}

.menu-open span.click:after {
    transform: rotate(0deg);
    top: -1px;
}

.title {
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    font-size: 2.5em;
    margin-bottom: 0;
    padding-left: 0.2em;
    padding-bottom: 0;
}

.title a {
    color: #d5dcf1;
    text-decoration: none;
    outline: 0;
    transition: .2s color;
}

.title a:hover {
    color: #f4f7ff;
}

.sub-title {
    color: #6f7890;
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding-left: 0.8em;
    padding-top: 0;
}

.dashboards-title {
    font-size: 0.9em;
    color: #51586a;
    padding: 0 0.8em;
    margin-bottom: 0.6em;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.admin-log-out {
    font-size: 1.3em;
    color:#fff;
    position: absolute;
    bottom: 15px;
    text-align: center;
    display: inline-block;
    width: 100%;
    opacity: 0.8;
    transition: .2s opacity;
}

.admin-log-out:hover {
    color: #fff;
    opacity: 1;
}

.admin-menu-list {
    list-style-type: none;
    padding-bottom: 0.8em;
}

.admin-menu-list li a {
    display: block;
    text-decoration: none;
    color: #cfd2da;
    padding: 0.5em 0.8em;
    border-radius: 0.4em;
    font-size: 0.9em;
    margin: 0.1em 0;
    outline: 0;
    transition: background-color .15s, color .15s;
}

.admin-menu-list li.active a {
    background-color: #1997c6;
    color: #fff;
}

.admin-menu-list li.active a:hover {
    background-color: #21a1cf;
}

.admin-menu-list li a:hover {
    color: #fff;
}

.main-content {
    padding: 1.8em 2em 1.5em 1.5em;
    margin-left: 283px;
    background-color: #292c35;
    position: relative;
}

.loading-overlay {
    display: none;
    position: fixed;
    z-index: 30000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.loading-overlay img {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.main-content h2 {
    padding-bottom: 0.8em;
    font-size: 2em;
}

.content {
    border-top: 1px solid #6b7183;
}

.main-commands {
    padding: 0 0 0.5em 0.25em;
}

.main-commands a, .inner-table tbody tr td a.add-new-answer-btn {
    background-color: #23262e;
    color: #d1d5e2;
    border: 1px solid #d1d5e2;
    border-radius: 0.4em;
    display: inline-block;
    padding: 0.4em 0.6em 0.2em 0.5em;
    text-decoration: none;
    width: 2.2em;
    position: relative;
    transition: .2s all;
    box-shadow: 2px 2px 5px #1e2129;
    outline: 0;
}

.main-commands a:hover, .inner-table tbody tr td a.add-new-answer-btn:hover {
    color: #fafbfd;
    border: 1px solid #fafbfd;
}

.main-commands i {
    font-size: 1.2em;
    vertical-align: top;
    padding-right: 0.5em;
}

.no-data-found {
    font-style: italic;
    padding-top: 25px;
    font-size: 1.2em;
}

.main-table, .inner-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    background-color: transparent;
    box-shadow: 5px 4px 8px #1f2129;
}

.main-table a {
    color: #67a7d8;
    transition: .15s color;
    text-decoration: none;
}

.main-table a:hover {
    color: #b6dfff;
}

.main-table tbody tr {
    transition: .15s background-color;
}

.main-table tbody tr:nth-child(odd) {
    background-color: #2d313b;
}

.poll-table tbody tr.table-odd-row {
    background-color: #292c35;
}

.main-table tbody tr:not(.table-poll-answers):hover {
    background-color: #353a46;
}

.main-table tbody tr td.text-center, .main-table thead tr th.text-center {
    text-align: center;
}

.main-table tr th, .main-table tr td {
    color: #e8eaf0;
    text-align: left;
    border: none;
    padding-right: 1em;
}

.main-table tr th {
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
    border-bottom: 2px solid #434857;
    letter-spacing: 0;
}

.main-table tr td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #434857;
    font-size: 0.9em;
}

.main-table thead tr th:nth-child(1), .main-table tbody tr td:nth-child(1) {
    width: 45px;
    padding-left: 0.8em;
}

.main-table thead tr th:nth-child(2), .main-table tbody tr td:nth-child(2) {
    padding-right: 0.5em;
    padding-left: 0.3em;
    width: 50px;
}

.main-table tbody tr td.table-cell-id {
    color: #67a7d8;
}

.main-table tr td.data-date {
    width: 120px;
    font-size: 0.8em;
}

.main-table tr td.data-user-image img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #424857;
    box-shadow: 2px 2px 5px #1f2129;
}

.main-table tr .data-edit, .main-table tr .data-delete {
    width: 3.5em;
}

.main-table tr td.data-edit {
    padding-left: 0.4em;
}

.data-edit a, .data-delete a {
    font-size: 1.6em;
    color: #67a7d8;
    transition: .2s color;
    outline: 0;
}

.data-edit a:hover, .data-delete a:hover {
    color: #b6dfff;
}

.data-user-role i {
    color: #c0d1df;
    font-size: 1.7em;
    padding: 0 0.2em;
    transition: .2s color;
    cursor: pointer;
}

.data-user-role i:hover {
    color: rgb(221, 230, 250);
}

.data-cover {
    width: 80px;
    height: 50px;
}

.inner-table-wrap {
    padding: 0 0.8em;
}

.inner-table {
    width: 100%;
}

.inner-table tbody tr {
    border: none;
}

.inner-table tbody tr td:nth-child(1) {
    color: #67a7d8;
    padding-left: 1.6em;
}

.inner-table tbody tr td:nth-child(2) {
    width: 90%;
    padding-left: 1.8em;
}

.main-table tbody tr.table-poll-answers {
    background-color: #292c35;
}

.main-table tbody tr.table-poll-answers > td {
    padding-top: 0;
    padding-bottom: 0;
    transition: .2s padding;
}

.table-cell-70 {
    width: 70px;
}

.inner-table-wrap {
    display: none;
}

.inner-table tbody tr:nth-child(1) td {
    border-top: none;
}

.expand-poll-question {
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px;
}

.expand-poll-question:before {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    margin-bottom: 5px;
    position: relative;
    transition: transform .25s ease-in-out, top .25s ease-in-out;
    outline: 1px solid transparent;
    transform: rotate(45deg);
    top: 13px;
    left: 0px;
    width: 15px;
}
        
.expand-poll-question:after {
    content: "";
    display: block;
    color: #fff;
    border-bottom: 3px solid #fff;
    margin-bottom: 5px;
    position: relative;
    transition: transform .25s ease-in-out, top .25s ease-in-out;
    outline: 1px solid transparent;
    transform: rotate(-45deg);
    top: 5px;
    left: 9px;
    width: 15px;
}

.expand-poll-question.click:before {
    transform: rotate(-45deg);
}

.expand-poll-question.click:after {
    transform: rotate(45deg);
}

.inner-table tbody tr.add-new-answer td {
    padding-top: 1.1em;
    padding-bottom: 0;
    padding-left: 1.4em;
}

.inner-table tbody tr.add-new-answer td form {
    display: inline-block;
    width: 40%;
}

.inner-table tbody tr.add-new-answer td:nth-child(2) {
    padding: 0;
}

.inner-table tbody tr td a.add-new-answer-btn i {
    font-size: 1.2em;
}

.inner-table tbody tr td a.add-new-answer-btn {
    padding-left: 0.7em;
    font-size: 1.1em;
    width: 2.5em;
    margin-top: 0em;
    margin-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    display: inline-block;
    transform: translateY(1px);
}



/* ------- Checkboxes ------- */

.checkbox-cell {
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-cell input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-11px);
    height: 22px;
    width: 22px;
    background-color: #eee;
}

.checkbox-cell:hover input ~ .checkmark {
    background-color: #eee;
}

.checkbox-cell input:checked ~ .checkmark {
    background-color: #549ed6;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-cell input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-cell .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* --------------------- */

/* ------- Modal ------- */

.modal-box {
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 20000;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 5px;
    color: #222;
}

.modal-box-inner {
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -53%);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.modal-box-header {
    background-color: #0f1114;
    height: 30px;
}

.modal-box-content {
    padding: 25px 30px 5px;
}

.modal-close {
    width: 40px;
    height: 30px;
    float: right;
    text-align: center;
    cursor: pointer;
    transition: .1s background-color;
}

.modal-close:hover {
    background-color: #e81123;
}

.modal-close i {
    color: #fff;
    font-size: 22px;
    padding-top: 4px;
}

.modal-confirm {
    display: block;
    float: right;
    padding: 0 8px 6px 0;
}

.modal-confirm a {
    padding-left: 20px;
    padding-right: 20px;
    transition: .15s background-color;
}

#modal-confirm-yes {
    background-color: #57a1da;
}

#modal-confirm-yes:hover {
    background-color: #3680b8;
}

.data-form h3 {
    font-size: 1.4rem;
    padding-bottom: 15px;
    text-align: center;
}

.control-title {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
}

.modal-box-content label {
    font-weight: normal;
    font-size: 0.9rem;
}

.modal-box-content input[type='checkbox'] {
    margin-right: 10px;
}

.form-group p {
    padding-bottom: 5px;
    font-size: 0.9rem;
}

.checkbox {
    padding-top: 0;
    padding-bottom: 2px;
    margin-top: 0;
    margin-bottom: 3px;
}

form p {
    font-size: 0.9rem;
    font-weight: 700;
}

#form-errors {
    display: none;
    font-size: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

/* ----------------------- */

/* ------- Tooltip ------- */

.has-tooltip {
    position: relative;
}

.has-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -43px;
}

.tooltip {
    font-size: 0.8rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    position: absolute;
    top: -56px;
    left: -39px;
    padding: 6px 15px;
    width: 105px;
    display: block;
    background-color: #1a1d24;
    box-shadow: 1px 1px 3px #242630;
    padding: 8px 0;
    border-radius: 7px;
    transform: translateZ(0);
    opacity: 0;
    visibility: hidden;
    transition: .2s all;
    pointer-events: none;
    z-index: 10000;
}

.tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid #1a1d24;
    position: absolute;
    top: 33px;
    left: 49px;
}

.tooltip-small {
    left: -16px;
    width: 60px;
}

.tooltip-small:after {
    left: 26px;
}

/* ----------------------- */

/* ------ Edit user ------ */

.user-edit-file {
    height: 140px;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 5px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    position: relative;
}

input.user-edit-upload-file-control {
    display: block;
    height: 140px;
    width: 100%;
    position: relative;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
    border: 1px solid #000;
}

.drag-and-drop-overlay {
    position: absolute;
    top: 16px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: .2s opacity;
}

.drag-and-drop-overlay i{
    color: skyblue;
    font-size: 64px;
}

.drag-and-drop-overlay p {
    font-size: 18px;
    margin-top: 15px;
}

.user-edit-file img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #b9c1db;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -45px;
    z-index: 9;
    opacity: 0;
    transition: 2s opacity;
}

.image-filename {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 1s opacity;
}

.is-banned-form {
    width: 150px;
}

.is-banned-form label {
    cursor: pointer;
}

/* ----------------------- */

/* Dashboard */

.card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;

    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    /*background-color: #fff;*/
    color: #e4e4e4;
    margin-bottom: 20px;
    position: relative;
    border: 0 none;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
}

.card-stats .card-body{
    padding: 15px 15px 0;
}

.card-stats .card-body .numbers{
    text-align: right;
    font-size: 2em;
}

.card-stats .card-body .numbers .card-category{
    color: #cacaca;
    font-size: 16px;
    line-height: 1.4em;
}
.card-stats .card-body .numbers p{
    margin-bottom: 0;
}

.card-stats .card-footer{
    padding: 0 15px 15px;
}

.card-stats .card-footer .stats{
    color: #cacaca;
}

.card-stats .icon-big{
    font-size: 3em;
    min-height: 64px;
}
.card-stats .icon-big i{
    line-height: 59px;
}

.card-footer a {
    color: #647992;
}

.card-footer a:hover {
    color: #a1adbb;
}

hr.sick {
    border-top: 1px solid #323540;
    border-bottom: 1px solid #1a1c23;
}

/* ----------------------- */