.main-container {
    width: 100%;
    padding: 0;
    margin: 0;
}
.navbar {
    margin-bottom: 0;
}
.game-cover-image {
    background-image: url('http://profilerehab.com/facebook_covers/funny/recycle_congress_cover_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 280px;
}
.game-header {
    background-color: #111;
    padding: 20px 0;
    color: #fff;
}
.game-header-inner {
    width: 820px;
}
.game-header span {
    display: inline-block;
}
.game-content {
   
    margin: 15px auto;
}
.game-content-left {
    border: 1px solid #000;
    height: 200px;
}
.game-content-right {
    border: 1px solid #000;
    height: 200px;
}
.game-comments {
    border: 1px solid #000;
    height: 200px;
}